[user]
	name = David Fernandez Alcoba
[alias]
	conflicts = !vim $(git diff --name-only --diff-filter=U)
[diff]
    tool = nvimdiff2
[difftool "nvimdiff2"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd l\"
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"
[mergetool]
  keepBackup = false
  prompt = false
